.frame {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #e56262;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    width: 100px; /* Ancho del círculo */
    height: 100px; /* Altura del círculo */
    background-color: #e5dddd; /* Color de fondo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    margin: 0 auto;
 }