.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #e56262;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .circle120{
    height: 120px;
    width: 120px;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(114, 114, 114);  
  }